.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  width: 650px;
  justify-content: space-around;
  margin-left: 20%;
}
.container {
  width: 300px;
}

.card {
  width: 250px;
  border: 1px solid #636c75;
  margin: 5% 0;
}
.friend-form {
  margin: 5% 0;
  width: 400px;
}
.friend-form-input {
  border: 1px solid rgb(162, 163, 161);
  margin: 1.5%;
}
.friend-form-input {
  border-bottom: 1px solid #3810c5;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  outline: none;
  margin-bottom: 4%;
  font-size: 16px;
  width: 400px;
}
ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 12px;
}

li {
  list-style: none;
  margin-right: 6px;
}

a {
  text-decoration: none;
  padding: 6px;
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}
